<?xml version="1.0"?>

<model>
  <name>Birthday cake</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
  </author>

  <author>
    <name>3DMish</name>
  </author>

  <description>
    Cake for Open Robotics' 10 year anniversary.

    Chocolate cake mesh by 3DMish on Sketchfab: https://skfb.ly/697Cu
  </description>
</model>
